body {
    background-color: rgb(27, 88, 38);
font-family: Comic-sans;

}

.center {
    text-align: center;
    /* width: 128px; */
}

.icon-container {
    display: flex;
    gap: 100px;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 11px;
    /* width:32px; */
    /* width: 48px; */
}

.details {
    margin-left: 50px;
}

.details2 {
    margin-left: 100px;
}

.details3 {
    margin-left: 150px;
}